.about {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about > div {
    max-width: 20rem;
    padding: 1rem;
    margin: 1rem;
}
.about p {
    padding: 2rem;
    border-radius: 2rem;
    font-weight: bolder;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
}

.about img {
    width: 100%;  
}