.background-contact {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.background-contact > div {
    padding: 1rem;
    margin: 1rem;
}

.form-class {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	/* align-items: center; */
	justify-content: center;
    border: 5px gray;
}

.form-class > div > input {
	border-style: none;
	border-bottom-style: groove;
}

#submit {
	border: none;
	background-color: cyan;
	padding: .5rem;
	border-radius: 5rem;
}

.form-div div {
	padding: .5rem;
}

.form-div div > p {
    font-size: x-small;
    color: red;
}

#on-submit {
    font-size: small;
    color: red;
}

.form-div {
    border: 1px rgba(132, 133, 135,0.3) solid;
    
}
