.background-home {
    background-image: url('./cover-v3.jpeg');
    background-size: cover;
    height: 80vh;
}

.navbar {
	background-color: black;
	border-radius: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    margin-bottom: .5rem;
}

.navbar > a {
    color: azure;
    text-decoration: none;
    padding: 2rem;
}


.home {
	display: flex;
	justify-content: center;
	color: whitesmoke;
	padding: 2rem;
	align-items: end;
	flex-direction: column;
	padding-right: 20vw;
}

